<h1>About</h1>

<ol>
	<li ng-repeat = "product in products">
		<p> {{product._id}} - Nombre: {{product._name}} </p>
	</li>
</ol>

ID: <input type="text" ng-model="newProduct._id" ></input>
Nombre<input type="email" ng-model="newProduct._name" ></input>

<button ng-click="save()">Guardar</button>

<nav>
  <ul class="pagination">
    <li class="disabled">
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    
    <li class="active">
	    <a href="#">1 <span class="sr-only">(current)</span>
	    </a>
    </li>

    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>