<h1>Agregar Boleta</h1>

<ol class="breadcrumb">
  <li><a href="#/home">Boletas</a></li>		  
  <li class="active">Agregar</li>
</ol>


<ul>
	<li ng-repeat="product in products">
		ID:{{product._id}}	
		Name:{{product._name}}
		<button ng-click="products.splice($index, 1)" class="btn btn-danger">-</button>
	</li>
</ul>

	Nuevo ID: <input type="text" ng-model="newProduct._id" />
	Nuevo Nombre: <input type="text" ng-model="newProduct._name" />
<button ng-click="save()" class="btn btn-primary">Salvar</button>





<form class="form-horizontal" role="form">
    <div class="form-group">
      <label class="control-label col-sm-2">Fecha de Visita:</label>
      <div class="col-sm-10">
         <div class='input-group date' id='datepicker1'>            
            <input type="text" ng-model="FechaVisita" jqdatepicker class="form-control" placeholder="dd/mm/yyyy"/>

        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Password:</label>
      <div class="col-sm-10">          
        <input type="password" class="form-control" id="pwd" placeholder="Enter password">
      </div>
    </div>
    

	<div class="form-group">
      <label class="control-label col-sm-2" for="comment">Comment:</label>
      <div class="col-sm-10">
      	<textarea class="form-control" rows="5" id="comment" data-toggle="tooltip" title="Comment tooltip" ></textarea>
      	<span class="help-block">This is some help text that breaks onto a new line and may extend more than one line.</span>
      </div>
    </div>

	<div class="form-group">
		<label class="radio-inline">
	      <input type="radio" name="optradio">Option 1
	    </label>
	    <label class="radio-inline">
	      <input type="radio" name="optradio">Option 2
	    </label>
	    <label class="radio-inline">
	      <input type="radio" name="optradio">Option 3
	    </label>
	</div>
	
	<div class="form-group">
		<label class="checkbox-inline">
	      <input type="checkbox" value="">Option 1
	    </label>
	    <label class="checkbox-inline">
	      <input type="checkbox" value="">Option 2
	    </label>
	    <label class="checkbox-inline">
	      <input type="checkbox" value="">Option 3
	    </label>
	</div>	

	<div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
          <label><input type="checkbox"> Remember me</label>
        </div>
      </div>
    </div>

    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>

  </form>

