<h1>Lista de Boletas</h1>

<ol class="breadcrumb">
  <li><a href="#/home">Boletas</a></li>     
  <li class="active">Lista</li>
</ol>

<li ng-repeat="item in items">			
	<div class="myPanel">
		<div class="heading">
			ID:{{item.$id}}
			<div class="showOnHover">
				<a href="#" class="btn btn-xs btn-info">Ver Detalle</a>
			</div>
		</div>
		<div class="body">
			<p> Entrevistado: {{item.Entrevistado}}, Fecha de Visita: {{item.FechaVisita}}, Fenomeno Ocurrido: {{item.FenomenoOcurrido}} </p>			
		</div>			
	</div>		
</li>

  <form ng-submit="addItem()">

    <input type="text" ng-model="Entrevistado_New">
    <input type="text" ng-model="FechaVisita_New">
    <input type="text" ng-model="FenomenoOcurrido_New">
    <input type="submit" value="Agregar">
  </form>

<!-- <pre>{{ items | json }}</pre> -->

</div>
