		<!-- Barra de navegación -->
		<nav class="navbar navbar-inverse" data-spy="affix">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      
		      <a class="navbar-brand" href="#" title="Sistema de Emergencias">		      
		      	<img style="max-width:25px; margin-top: -7px;" src="/imagenes/icono-vivienda1.png">			      
		      </a>

		      <a class="navbar-brand" href="#" title="Sistema de Emergencias">		      
		      	Sistema de Emergencias
		      </a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">		        
		        <li class="dropdown">					
					<div class="btn-group btn-group-custom">					  
					  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					  	Boletas
					    <span class="caret"></span>
					    <span class="sr-only">Toggle Dropdown</span>
					  </button>
					  <ul class="dropdown-menu">
					    <li><a href="#/home">Listar</a></li>
					    <li><a href="#/agregarBoleta">Agregar</a></li>		            					    
					    <li role="separator" class="divider"></li>		            
					    <li><a href="#">Boletas Incompletas</a></li>
					  </ul>
					</div>		          
		        </li>
		      </ul>

			<ul class="nav navbar-nav">		        
		        <li class="dropdown">					
					<div class="btn-group btn-group-custom">					  
					  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					  	Catálogos
					    <span class="caret"></span>
					    <span class="sr-only">Toggle Dropdown</span>
					  </button>
					  <ul class="dropdown-menu">
					    <li><a href="#/Fenomenos">Fenómeno Ocurrido</a></li>
					    <li><a href="#">Causas de No realización </a></li>
					    <li><a href="#">Tipo de Identificación </a></li>
					    <li><a href="#">Relación con el Jefe </a></li>
					    <li><a href="#">Provincia </a></li>
					    <li><a href="#">Cantón</a></li>
					    <li><a href="#">Distrito </a></li>
					    <li><a href="#">Topografía </a></li>
					    <li><a href="#">Posesión Terreno </a></li>
					    <li><a href="#">Construcción Externa</a></li>
					    <li><a href="#">Construcción Interna </a></li>
					    <li><a href="#">Pisos </a></li>
					    <li><a href="#">Cerchas </a></li>
					    <li><a href="#">Cubierta </a></li>
					    <li><a href="#">Sistemas de entrepiso </a></li>
					    <li><a href="#">Edad de Construccion </a></li>
					    <li><a href="#">Opciones Generales </a></li>					    			  
					  </ul>
					</div>		          
		        </li>
		      </ul>

		      <ul class="nav navbar-nav">
		        <li class="dropdown">				
					<div class="btn-group btn-group-custom">
					  <button type="button" class="btn btn-info disabled">Adminitración</button>
					  <button type="button" class="btn btn-info dropdown-toggle disabled" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					    <span class="caret"></span>
					    <span class="sr-only">Toggle Dropdown</span>
					  </button>
					  <ul class="dropdown-menu">
					    <li><a href="#">Asignar Roles</a></li>
		            	<li><a href="#">Mantenimiento de Catálogos</a></li>
					  </ul>
					</div>		          
		        </li>
		      </ul>

		      <form class="navbar-form navbar-right" role="search">
		        <div class="form-group">
		          <input type="text" class="form-control" placeholder="Texto de busqueda">
		        </div>
		        <button type="submit" class="btn btn-default"> <span class="glyphicon glyphicon-search"></span> Buscar</button>
		      </form>
		      
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>